@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

* {
  font-family: "Raleway";
}

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  background-color: #dedede;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid #ececec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
